<br>
<h3>Edit House Listing</h3>

<%= render 'form', house: @house %>

<%= link_to 'Show', @house, :class=>"active btn btn-primary"  %> |
<%= link_to 'Back', houses_path, :class=>"active btn btn-dark"  %>
