<h3>Editing Company</h3>

<%= render 'form', company: @company %>

<%= link_to 'Show', @company , :class=>"active btn btn-primary" %> |
<%= link_to 'Back', companies_path , :class=>"active btn btn-dark" %>
