<p id="notice"><%= notice %></p>

<h1>Potential Buyers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>House</th>
      <th>Hunter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.house_id %></td>
        <td><%= buyer.user_id %></td>
        <td><%= link_to 'Show', buyer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

